form {
position: relative; /* Говорит о том, что блок формы является родительским */
width: 400px; /* Ширина формы в пикселях */
max-width: 100%; /* Максимальная ширина блока формы 100%. Если окно браузера будет меньше 400px - форма будет автоматически адаптирововаться по ширину экрана и не будет выходить за её пределы. */
margin: 0 auto; /* Выравнивание по центру родителя */
}
input {
width: 100%; /* Ширина полей для ввода 100% от ширины родительского блока (400px) */
margin-bottom: 9px; /* Внешний отступ снизу */
border: 1px solid #1f1f1f45; /* Рамка вокруг поля */
border-radius: 4px; /* Закругление полей */
padding: 12px 19px; /* Внутренние отступы полей*/
}